:root {
    /* Cores */
    --navy: #10458B;
    --white: #FFFFFF;
    --green: #01CA94;
    --black: #000000;
    --gray: #F5F5F5;
    --red: #FF0000;

    /* Fontes */
    --inter: 'Inter';
    --fira: 'Fira Sans';
}